/*
  # device_commands table

  Remote command queue for OttomanDevice polling and execution.
*/

CREATE TABLE device_commands (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  device_id text NOT NULL,
  command text NOT NULL,
  status text NOT NULL,
  created_at timestamptz NOT NULL DEFAULT now(),
  executed_at timestamptz
);

ALTER TABLE device_commands ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Allow select device_commands"
  ON device_commands
  FOR SELECT
  TO anon, authenticated
  USING (true);

CREATE POLICY "Allow insert device_commands"
  ON device_commands
  FOR INSERT
  TO anon, authenticated
  WITH CHECK (true);

CREATE POLICY "Allow update device_commands"
  ON device_commands
  FOR UPDATE
  TO anon, authenticated
  USING (true)
  WITH CHECK (true);
